* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  height: 100vh;
  background: linear-gradient(135deg, #c74648, #ff6e4a);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
}
html {
  font-size: 16px;
}
.wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.container {
  width: 70vmin;
  height: 70vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
}
.btn-opt {
  background: #ffffff;
  height: 22vmin;
  width: 22vmin;
  border: none;
  border-radius: 8px;
  font-size: 12vmin;
  color: #c74648;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
#restart {
  font-size: 1.3em;
  padding: 1em;
  border-radius: 8px;
  background-color: #e97451;
  color: #ffffff;
  border: none;
  position: relative;
  margin: 1.5em auto 0 auto;
  display: block;
}
.slide {
  background: linear-gradient(135deg, #c74648, #ff6e4a);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-size: 12vmin;
}
#new-game {
  font-size: 0.6em;
  padding: 0.5em 1em;
  background-color: #e97451;
  color: #ffffff;
  border-radius: 0.2em;
  border: none;
}
#message {
  color: #ffffff;
  text-align: center;
  font-size: 1em;
}
.slide.hide {
  display: none;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
}
footer a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  box-shadow: #333;
}
footer p {
  color: white;
  font-size: 16px;
}
.rs_school {
  width: 50px;
  height: 50px;
}
footer div {
  width: 80px;
  height: 50px;
}
h1 {
  color: #ffffff;
}
#leaderboard {
  color: #ffffff;
}
